<div class="topology-container">
    <h2>Network Topology Map</h2>
    <div class="topology-box">
        <svg width="100%" height="100%" viewBox="0 0 1000 250">
            @for (device of devices; track device.id; let i = $index){
            <g [attr.transform]="'translate(' + (100 + (i*80)) + ', 120)'">
                <circle r="25" [attr.fill]="device.status ==='online'? '#2ecc71' : '#e74c3c'"
                    [attr.stroke]="searchTerm&&device.hostname.toLowerCase().includes(searchTerm) ? '#FFC943' : '#fff'"
                    stroke-width="2" />
                <text y="45" fill="white" text-anchor="middle" font-size="8">
                    {{device.hostname}}
                </text>
            </g>
            }
        </svg>
    </div>
</div>