h2{
    margin-top: 0;
}
.head-content-row,
.main-content-row,
.topology-container{
    margin-top: 30px;
}

.dashboard-container {
    display: block;
    padding: 20px;
    background-color: #333;
    color: white;
    height: auto;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding-top: 30px;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    flex: 1;
    min-width: 100px;
    max-width: 400px;
    padding: 20px;
    border-radius: 12px;
    background-color: black;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card h3{
    margin: 0;
    font-size: 1rem;
    color: white;
}

.count{
    margin: 10px 0 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.main-content-row{
    display: flex;
    gap: 30px;
    align-items: flex-start;
}

.inventory-section{
    flex: 6.5;
}

.log-section{
    flex: 3.5;
}

.inventory-search{
    background-color: #2a2a2a;
    border: 3px solid #555;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    width: 200px;
    margin-right: 5px;
}

.inventory-search:focus{
    border-color: #FFC943;
}

.button{
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    transition: 0.2s;
    margin: 5px;
}

.filter-btn{
    background-color: #4D4B4B;
    color: white;
}

.filter-btn:hover{
    background-color: black;
    transform: translateY(-1px);
}

.add-device-btn{
    background-color: #FFC943;
    color: white;
}

.add-device-btn:hover{
    background-color: #e6b53c;
    transform: translateY(-1px);
}

.inventory-box{
    width: 100%;
    height: 25vh;
    overflow-y: auto;
    background-color: #222;
    border-radius: 8px;
    margin-top: 10px;
}

.inventory-box table{
    width: 100%;
    border-collapse: collapse;
}

.inventory-box th{
    background-color: #444;
    color: #ccc;
    padding: 9px 15px;
    text-align: left;
    font-size: 0.9rem;
    border-bottom: 2px solid #555;

    position: sticky;
    top: 0;
    z-index: 1;
}

.inventory-box td{
    padding: 9px 15px;
    border-bottom: 1px solid #333;
    font-size: 0.95rem;
    vertical-align: middle;
}

.inventory-box tbody tr:hover{
    background-color: #2a2a2a;
    transition: 0.2s;
}

.inventory-box tbody tr:last-child td{
    border-bottom: none;
}

.log-box{
    background-color: black;
    width: 100%;
    height: 30vh;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.log-text{
    margin:0;
    padding:3px 10px;
    font-size: 0.9rem;
}

.topology-container{
    margin-top: 30px;
    text-align: center;
}

.topology-box{
    border: 5px solid #e6b53c;
    background-color: #222;
    border-radius: 10px;

    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* border color*/
.total {border: solid 3px #FFC943;}
.online {border: solid 3px #2ecc71;}
.offline {border: solid 3px #e74c3c;}

/*text color*/
.text-count {color: #FFC943;}
.text-online { color: #2ecc71}
.text-offline {color: #e74c3c;}

.text-cisco { color: #FF9E42;}
.text-arista { color: #3DADFF;}

.text-error {color: #e74c3c;}
.text-info {color: #2ecc71;}
.text-warning {color: #FFC943;}