<div class="dashboard-container">
    <div class="head-content-row">
        <h2>Summary Cards</h2>
        <div class="card-row">
            <div class="card total text-count">
                <h3>Total Devices</h3>
                <p class="count">{{devices.length}}</p>
            </div>
            <div class="card online text-online">
                <h3>Online</h3>
                <p class="count">{{getStatusCount('online')}}</p>
            </div>
            <div class="card offline text-offline">
                <h3>Offline</h3>
                <p class="count">{{getStatusCount('offline')}}</p>
            </div>
        </div>
    </div>
    <div class="main-content-row">
        <section class="inventory-section">
            <h2>inventory</h2>
            <div class="inventory">
                <input type="text" class="inventory-search" placeholder="Input hostname" 
                [(ngModel)]="searchTerm">
                <button type="button" class="button filter-btn" (click)="toggleVendorSort()">Sort by Vendor </button>
                <button type="button" class="button add-device-btn" (click)="isModalOpen = true">+ Add Device</button>
                <div class="inventory-box">
                    <table>
                        <thead>
                            <tr>
                                <th>Hostname</th>
                                <th>IP Address</th>
                                <th>Vendor</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (device of filterDevices; track device.id){
                            <tr>
                                <td>{{device.hostname}}</td>
                                <td>{{device.ipAddress}}</td>
                                <td [ngClass]="{
                                'text-cisco' : device.vendor === 'Cisco',
                                'text-arista' : device.vendor === 'Arista',
                                'text-others' : device.vendor === 'Others'
                            }">{{device.vendor}}</td>
                                <td [ngClass]="{
                                'text-online' : device.status === 'online',
                                'text-offline' : device.status === 'offline'
                            }">{{device.status}}</td>
                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <section class="log-section">
            <h2>Logs</h2>
            <div class="log-box">
                @for (log of logs; track $index){
                <p class="log-text">
                    <span [ngClass]="{
                    'text-error' : log.type === 'ERROR',
                    'text-info' : log.type === 'INFO',
                    'text-warning' : log.type === 'WARNING'
                }">[{{log.type}}]</span> {{log.hostname}} : {{log.timestamp}} <span [ngClass]="{
                    'text-error' : log.type === 'ERROR',
                    'text-info' : log.type === 'INFO',
                    'text-warning' : log.type === 'WARNING'
                }">{{log.message}}</span>
                </p>
                }
            </div>
        </section>
    </div>
    <div class="topology-container">
        <h2>Network Topology Map</h2>
        <div class="topology-box">
            <svg width="100%" height="100%" viewBox="0 0 1000 250">
                @for (device of devices; track device.id; let i = $index){
                <g [attr.transform]="'translate(' + (100 + (i*80)) + ', 120)'">
                    <circle r="25" [attr.fill]="device.status ==='online'? '#2ecc71' : '#e74c3c'" 
                    [attr.stroke]="searchTerm&&device.hostname.toLowerCase().includes(searchTerm) ? '#FFC943' : '#fff'"
                        stroke-width="2" />
                    <text y="45" fill="white" text-anchor="middle" font-size="7">
                        {{device.hostname}}
                    </text>
                </g>
                }
            </svg>
        </div>
    </div>
    <div class="newDeviceModal" *ngIf="isModalOpen">
        <div class="modal-content">
            <h2>Add New Device</h2>

            <div class="input-group">
                <label>Hostname</label>
                <input type="text" [(ngModel)]="newDevice.hostname" placeholder="e.g. VAN-Spine-01">
            </div>

            <div class="input-group">
                <label>IP Address</label>
                <input type="text" [(ngModel)]="newDevice.ipAddress" placeholder="e.g. 192.168.1.1">
            </div>

            <div class="input-group">
                <label>Rack No</label>
                <input type="text" [(ngModel)]="newDevice.rackNo" placeholder="e.g. 7F-08-25">
            </div>

            <div class="input-group">
                <label>Description</label>
                <input type="text" [(ngModel)]="newDevice.description" placeholder="e.g. Main Spine SW">
            </div>

            <div class="input-group">
                <label>Vendor</label>
                <select [(ngModel)]="newDevice.vendor">
                    <option value="Cisco">Cisco</option>
                    <option value="Arista">Arista</option>
                    <option value="Others">Others</option>
                </select>
            </div>

            <div class="input-group">
                <label>Status</label>
                <select [(ngModel)]="newDevice.status">
                    <option value="online">Online</option>
                    <option value="offline">Offline</option>
                </select>
            </div>

            <div class="modal-action">
                <button class="save-btn" (click)="onAddDevice()">Save</button>
                <button class="cancel-btn" (click)="isModalOpen = false">Cancel</button>
            </div>
        </div>
    </div>
</div>