.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.top-header {
    height: 60px;
    min-height: 60px;
    z-index: 10;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-section img {
    width: 40px;
    height: 40px;
}

.status-badge{
    text-align: right;
}

.body-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 150px;
    margin-top: 5px;
    background-color: #333;
}

.sidebar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: flex;
    margin: 15px;
    padding: 10px;
}

.sidebar a:hover {
    background-color: #FFC943;
    color: #333;
    cursor: pointer;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}